.App {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
form {
    max-width: 600px;
    margin: auto;
}
#formBasicText {
    height: 200px;
}
p {
    text-align: left;
}
h2 {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}
h3 {
    margin-block-start: 0.2em;
    margin-block-end: 0.5em;
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}
.blogPagePost  li {
    clear: both;
    float: left;
    display: block;
}
.serviceImg {
    width: 600px;
    filter: brightness(50%);
    opacity: 0.8;
    border-radius: 25px;
}
.listing {
  display: flex;
  flex-flow: row;
  height: 200px;
  padding-left: 50px;
  margin-top: 50px;
}
.listingPicture {
    flex: 1;
    display: flex;
    align-items: center;
}
.listingContent {
    flex: 3;
    height: 250px;
    padding-left: 10px;
}
.listingContentDescription {
    height: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}
.listingContentContact {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}
.listingContentContact > span {
    vertical-align: middle;
}
.iconHolder > span {
    flex: 1;
}
.listingContentContactText {
    flex: 2;
    padding-left: 5px;
    padding-right: 5px;
    width: 125px;
    overflow-wrap: break-word;
}
.icon {
    height: 30px;
}
.authorName {
    display: block;
    width: 100%;
    float: left;
    text-decoration: none;
    color: dodgerblue;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
.blogAuthor {
    float: left;
    display: inline-block;
    margin-bottom: 30px;
}
.blogPostContent {
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.blogAuthorPicture > img {
    height: 150px;
}
.blogPostImg {
    max-width: 250px;
    max-height: 250px;
}
.blogPagePost img {
    float: right;
}
.readMore, .readMoreBlog {
    display: block;
    float: right;
    text-decoration: none;
    color: dodgerblue !important;
    font-weight: bold
}
.readMore {
    float: right;
}
.readMoreBlog {
    float: left;
}
.blogPost {
    padding-top: 50px;
    display: block;
    text-decoration: none;
    height: 460px;
}
a.blogPost:visited, a.blogPost:link {
  color: black;
}
.blogPost > p {
    display: block;
    clear: both;
}
.date {
    font-weight: bold;
    float: left;
    margin-top: 5px;
}
.blogDate {
    width: 100%;
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.footer {
    height: 100px;
    display: block;
    clear: both;
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.copyRight {
    color: grey;
}
.socialDiv {
    width: 50%;
    display: inline-block;
    float: right;
}
.footer > p {
    width: 50%;
    float: left;
    display: inline-block;
    height: 100px;
}
.socialImg {
    display:inline;
    height: 50px;
    float:right;
}
.providerSocialImg {
    display: inline-block;
    height: 50px;
    float: none;
}
.listingPicture{
    display: block;
    margin: auto;
}
.socialBlock {
    display: inline-block;
    padding: 20px;
}
#phone, #email {
    padding-left: 10px;
}
.moreBlogsPanel {
    text-align: left;
}
.moreBlogsPanel  a {
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
}
.moreBlogsPanel h3 {
    display: block;
    clear: both;
}
.moreBlogsPost {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.categories {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 40px;
    color: white;
}
.category {
    border-radius: 5px 20px 5px;
/*    background: #BADA55;*/
    background: darkgrey;
    width: 120px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.writeABlog {
    margin-top: 200px;
    padding-right: 40px;
    font-style: italic;
}
.writeABlog > a {
    margin-top: 20px;
}
.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 25px;
  cursor: pointer;
}
.listingDiv:hover .overlay {
  height: 100%;
  cursor: pointer;
}
.listingDiv {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    width: 600px;
    cursor: pointer;
    margin-top:50px;
    margin-left:15px;
    margin-right:15px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6em;
    font-weight: bolder;
    text-shadow: #000 1px 0 10px;
    cursor: pointer;
}
.leaflet-container{
    height: 300px;
}
@media (min-width: 1000px) {
    div.header {
      width: 970px;
      height: 375px;
          margin: 0 auto;
    }
    div.mainHeader {
        background-image: url(./img/health_wellness_970x375.jpg);
    }
    div.headerUnderConstruction {
        background-image: url(./img/work-in-progress_970x450.jpg);
        background-size: 970px 450px;
        width: 970px;
        height: 450px;
    }
    div.addictionHeader {
        background-image: url(./img/recovery_970x375.jpg);
        background-size: 970px 375px;
    }
    div.joinCollective {
        background-image: url(./img/join-collective_970x375.jpg);
        background-size: 970px 375px;
    }
}
@media (min-width: 801px) {
    h1 {
        font-size: 3.75em;
    }
    .listingPicture > img {
        max-height: 175px;
        max-width: 200px;
    }
    .listing {
        padding-left: 50px;
    }
    .listingsDiv, .mainBlogContent{
        display: inline-block;
        float: right;
    }
    .listingsDiv{
        width: 60%;
    }
    .mainBlogContent{
        width: 75%;
    }
    .blogDiv, .moreBlogsPanel {
        display: inline-block;
        float: left;
    }
    .blogDiv {
        width: 40%;
    }
    .moreBlogsPanel {
        width: 25%;
    }
    .bodyHolder {
        margin-left: 50px;
        margin-right: 50px;
    }
    h1.blogPageBlogTitle {
        font-size: 2em;
        margin-top: 25px;
    }
}
@media (max-width: 1000px) {
    .btn-group, .btn-group-vertical {
        display: block;
    }
    div.header {
        width: 728px;
        height: 281px;
        margin: 0 auto;
    }
    div.mainHeader {
        background-image: url(./img/health_wellness_728x281.jpg);
    }
    div.headerUnderConstruction {
        width: 728px;
        height: 338px;
        background-image: url(./img/work-in-progress_728x338.jpg);
        background-size: 728px 338px;
    }
    div.addictionHeader {
        background-image: url(./img/recovery_728x281.jpg);
        background-size: 728px 281px;
    }
    div.joinCollective {
        background-image: url(./img/join-collective_728x281.jpg);
        background-size: 728px 281px;
    }
    .listingDiv {
        width: 400px;
    }
    .serviceImg {
        width: 400px;
    }
    .centered {
        font-size: 1.2em;
    }
}
@media (max-width: 750px) {
    .copyRight, .socialDiv, .footer > p {
        width: 100%;
        float: none;
        text-align: center;
    }
    .copyRight {
        margin-top: 30px;
    }
}
@media (max-width: 800px) {
    h1.blogPageBlogTitle {
        font-size: 1.25em;
    }
    div.header {
      width: 320px;
      height: 124px;
        margin: 0 auto;
    }
    div.mainHeader {
        background-image: url(./img/health_wellness_320x124.jpg);
    }
    div.headerUnderConstruction {
        width: 320px;
        height: 149px;
        background-image: url(./img/work-in-progress_320x149.jpg);
        background-size: 320px 149px;
    }
    div.addictionHeader {
        background-image: url(./img/recovery_320x124.jpg);
        background-size: 320px 124px;
    }
    div.joinCollective {
        background-image: url(./img/join-collective_320x124.jpg);
        background-size: 320px 124px;
    }
    h1 {
        font-size: 3em;
    }
    .listingPicture > img {
        max-height: 160px;
        max-width: 170px;
        display:block;
        margin: auto;
    }
    .listingPicture {
        display: block;
        align-content: center;
        align-items: center;
    }
    .listing {
        padding-left: 25px;
    }
    .bodyHolder {
        margin-left: 30px;
        margin-right: 30px;
    }
    .blogDiv, .moreBlogsPanel {
        visibility: visible;
        display: inline-block;
        display: inline-block;
        float: left;
    }
    .blogDiv {
        width: 40%;
    }
    .moreBlogsPanel {
        width: 25%;
    }
    .listingsDiv, .mainBlogContent{
        display: inline-block;
        float: right;
    }
    .listingsDiv{
        width: 60%;
    }
    .mainBlogContent{
        width: 75%;
    }
    .blogPagePost img {
        max-width: 300px;
        max-height: 300px;
    }
}
@media (max-width: 600px) {
    .listing {
        padding-left: 10px;
    }
    .listingContent {
        width: 75px;
    }
    .listingContentContact {
        flex-wrap: wrap;
    }
    .blogDiv, .moreBlogsPanel {
        width: 100%;
        clear: both;
        margin-top: 50px;
    }
    .listingsDiv, .mainBlogContent{
        width: 100%;
    }
    .bodyHolder {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 500px) {
    .socialImg {
        display:inline;
        height: 35px;
        float:right;
    }
    .listingContent > h2 {
        font-size: 1.5em;
    }
    .listingDiv {
        width: 300px;
    }
    .serviceImg {
        width: 300px;
    }
    .centered {
        font-size: 1em;
    }
    .blogPagePost img {
        float: none;
    }

}
@media (max-width: 400px) {
    h1 {
        font-size: 2em;
    }
    .listing {
        display: block;
        height: 200px;
        padding-left: 50px;
        margin-top: 50px;
        height: 400px;
        padding: 0;
    }
    .listingContent {
        width: 90%;
        margin: 20px;
    }
    .listingPicture {
        display: block;
        float: none;
        clear: both;
    }
    .bodyHolder {
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .paginationContainer {
        width: 100%;
        margin-top: 100px;
    }
}

/* START loading icon css taken from https://loading.io/css/ */
.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}

.lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #000;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}
/* END loading icon css taken from https://loading.io/css/ */